@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    font-size: 62.5%;
    font-family: Quicksand;
}

body {
    background-color: hsl(220, 80%, 50%);
}

.container {
    background-color: hsl(208, 100%, 97%);

    width: 40%;
    min-width: 30rem;
}

.visor {
    background-color: black;
    color: hsl(0, 0%, 100%);

    font-size: 4rem;

    height: 10rem;
    width: 100%;
}

/* input reset */
input {
    all: unset;
}

input {
    border: .1rem solid black;

    box-sizing: border-box;

    font-size: 2rem;
    font-weight: 700;
    text-align: center;

    margin: 0;

    padding: 1rem;
}

.buttons {
    display: flex;
    flex-flow: column;
}

.operations {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.not-operations {
    display: flex;
}

.not-enter {
    width: 75%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.enter {
    display: grid;
    width: 25%;   
}